html,
body {
    font-family: 'Exo', sans-serif;
    background-color: #AF88FD;
}

:root {
    --primary: #6034b7; // 182051 
    --black-rock: #313140;
    --rojo: #C13139;
    --verde: #46B75C;

}

@import './components/button';